* {
  font-family: 'Montserrat', sans-serif;
}
.brandText {
  font-family: 'Abril Fatface', cursive;
}
.fullBg {
  min-height: 100vh;
}
.placeholderImg {
  background-color: whitesmoke;
  min-height: 200px;
}
.transparentWhite {
  background-color: RGBA(255, 255, 255, .95)
}
.bottomMargin{
  margin-bottom: 20px
}
#top {
  padding: 25% 0 25% 0;
  background-color: silver;
  /* Need to find or make a cheesy background picture */
}
#about {
  padding: 10% 0 10% 0;
  background-color: black;
  color: silver
}
#about h2 {
  color: white
}
#team {
  padding: 10% 0 10% 0;
  background-color: silver;
}
footer {
  font-size: .8rem;
  padding: 5% 0 10% 0;
  overflow: hidden;
  background-color: whitesmoke;
  color: dimgrey;
}
